.client-container {
    display: flex;
    justify-content: space-between;
}

.menu-container {
    width: 20vw;
}


.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 65vw;
}
