.devices-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-grow: 1;
    width: 65vw;
}

.devices-container .devices-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.even-row {
    background-color: #f2f2f2;
}

.devices-table .MuiTableCell-body {
    font-size: 16px;
}

.devices-table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.devices-table tr:nth-child(even) {
    background-color: #e0e0e0;
}

.devices-table .table-header .MuiTableCell-head{
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;
}

.table-container {
    height: 50vh;
    overflow-y: auto;
}