.not-authorized-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.not-authorized-box {
    width: 50vw;
    border: 10px solid #ffffff;
    border-radius: 20px;
    background: #fff;
    box-shadow: 10px 0 20px rgba(10, 20, 70, 0.4);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.not-authorized-box .MuiTypography-root {
    font-size: 33px;
    margin-bottom: 20px;
}

.not-authorized-box .MuiButton-root {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 20px;
    background: linear-gradient(135deg, #3489eb, #2E3192);
    color: white;
    font-size: 20px;
}